@using ECommerceWebsite.Models.Admin
@model TransactionItemViewModel
@{
    ViewData["Title"] = "Admin View Transaction";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="titleHeader floatLeft width48perc">Transactions</div>
    <div class="addNewText">
        &nbsp;
    </div>
    <div class="clearBoth"></div>
</div>

@*TODO: look at Brand Edit page for layout*@