@using ECommerceWebsite.Models.Admin
@model AddBrandViewModel
@{
    ViewData["Title"] = "Admin Add Brand";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="titleHeader">Add Brand</div>

@using (Html.BeginForm("AddBrand", "brands", Model, FormMethod.Post, false, new { enctype = "multipart/form-data", @class = "form" }))
{
    @Html.ValidationSummary(false, string.Empty, new { @class = "required" })

    <div>
        <div class="floatLeft width48perc">
            @Html.LabelFor(p => p.BrandName)
        </div>
        <div class="floatLeft">
            @Html.TextBoxFor(p => p.BrandName, new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div class="paddingTopBot10">
        <div class="floatLeft width30perc">
            &nbsp;&nbsp;
        </div>
        <div class="floatLeft">
            <input id="btnSubmit" value="Add Brand" type="submit" class="btnSubmit redOrangeGrad" />
        </div>
        <div class="clearBoth"></div>
    </div>
}